/* found on stack exchange, I am not sure how else to 
   remove the arrow from the pages input*/
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance:textfield;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    overflow: auto;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 40%;
    align-items: center;
    background-color: #151E3F;
    color: white;
}

.header button {
    background-color: #729AA7;
    height: 60px;
    min-width: 140px;
    border-radius: 12px;
    border: none;
}

.header h1 {
    font-size: 42px;
    min-width: 200px;
}

h2, h3, h4 {
    margin: 0;
}

.book-area {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    background-color: #030027;
}

.bookshelf {
    width: 96%;
    height: 100vh;
    margin-top: 20px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 300px);
    gap: 40px;
    grid-auto-rows: 200px;

}

.book {
    border: 2px double red;
    height: 200px;
    width: 300px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    background-color: #F2F3D9;
}

.book-info {
    grid-area: 1 / 1 / 2 / 2;
    border-right: 2px solid black;
}

#book-mark {
    position: absolute;
    height: 217px;
    width: 10px;
    margin-left: 164px;
    margin-top: -2px;

}

.book .delete-book {
    height: 20px;
    width: 20px;
    position: relative;
    margin-left: -140px;
    margin-top: 174px;
    border: none;
    background-color: #F2F3D9;
    z-index: 2;
    animation-name: spin-reverse;
    animation-duration: .5s;
    animation-timing-function: ease-in-out;
}

.delete-book:hover {
    animation-duration: .5s;
    animation-name: spin;
    animation-fill-mode: forwards;
    
}

@keyframes spin {
    from {
        transform: rotate(0deg) scale(1);
    }
    to {
        transform: rotate(90deg) scale(1.3);
    }
}

@keyframes spin-reverse {
    from {
        transform: rotate(0deg) scale(1.3);
    }
    to {
        transform: rotate(-90deg) scale(1);
    }
}